*{
    font-family: 'Do Hyeon', sans-serif;
}

.name-box{
    text-align: center;
    margin-top: 10%;
    color: #F6F7EE;
    font-size: 4rem;
}

.Lion-text{
    text-align: center;
    margin-top: 8%;
    color: #F6F7EE;
    font-size: 3rem;
    margin-bottom: 8%;
}

.row{
    text-align: center;
}

.button{
    color: #9CCCF5;
    font-size: 2rem;
    background-color:#F6F7EE ;
    width:50%;
    height: 7%;
    text-align: center;
    border-radius: 1rem;
    border: none;
    margin-top: 0.5%;
}

footer {
    text-align: right;
    background-color: #9CCCF5;
    margin-top: 110px;
    padding: 1px;
    font-size: 1px;
    color: #919191;
}